.app {
  background-color: antiquewhite;
  padding: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.todo-list {
  width: 600px;
}
.todo {
  background-color: white;
  box-shadow: 0.5px 1px 1px rgba(128, 128, 128, 0.463);
  padding: 5px 10px;
  height: 38px;
  margin-top: 10px;
  border-radius: 3px;
}
